<!DOCTYPE html>
<html lang="pt-BR">
    <head> 
        <title>Buscador de apis</title>
        <meta charset="UTF=8">
        <meta name="description" content="buscados de dados como ip e cep">
        <meta name="author" content="Erik Lima">
        <meta name="keywords" content="osint, ip, cep, whois, email">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
            <h1>Buscador de apis</h1>
        </header>
        <main>
            <h2>BUSCADOR IP</h2>
            <form action="/ip-consulta" method="POST">
                <input type="text"
                    id="campo-ip"
                    name="endereco-ip"
                    placeholder="8.8.8.8"
                    required>
                <button type="submit">BUSCAR</button>
            </form>
        </main>
        <footer>
            <h2>feito pelo erik @ 2025</h2>
        </footer>
    </body>
</html>
